tmux/.config/tmux/plugins/

zsh/.config/oh-my-zsh/

nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/.luarc.json
nvim/.config/nvim/lazyvim.json

local/.local/bin/nvim
local/.local/bin/uv
local/.local/bin/uvx
local/.local/bin/nubescli
# local/.local/nvim-linux64/
# local/.local/nvim-linux-x86_64/
# local/.local/share/
# local/.local/state/
# local/.local/codelldb/
